<div style="text-align:center; margin-top: 20px">
    <div style="margin-left: 25%; text-align:justify; width: 50%">
        <h2>Histórico de versões</h2>
        <ul>
            <li>1.1 - Implementação de contatos de emergência.</li>
            <li>1.2 - Filtro de publicadores por seleção de designação, grupo ou situação.
                <div style="margin-top: 20px">
                    <h4>- Bug fixes:</h4>
                    <ol>
                        <li>No cadastro de contatos de emergência, foi mudado o label de 'Nome do publicador' para 'Nome do contato'.</li>
                        <li>Acerto de sequência dos Id's de grupos do nº 4 ao 6.</li>
                    </ol>
                </div>
            </li>
        </ul>
    </div>
</div>