<div>

  <br>

  <div class="container">

    <div style="text-align: center; margin-top: 10px">
      <div [formGroup]="formAno">
        <mat-form-field appearance="outline">
          <mat-label>{{'BUTTONS.SELECT' | translate}} {{'REPORT.YEAR' | translate}}</mat-label>
          <mat-select matInput placeholder="{{'REPORT.YEAR' | translate}}" formControlName="Ano"
            (ngModelChange)="aoMudarAno($event)">
            <mat-option value="-1">[{{'BUTTONS.SELECT' | translate}} {{'REPORT.YEAR' | translate}}]</mat-option>
            <mat-option *ngFor="let ano of anos" [value]="ano.year">
              {{ ano.year }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <mat-accordion class="example-headers-align" *ngFor="let compet of compets">

      <mat-expansion-panel [expanded]="expandir && compet.index == step" (opened)="setStep(compet.index)" hideToggle>

        <mat-expansion-panel-header>

          <mat-panel-title>
            {{ compet.month | titlecase }}/{{ compet.year }}
          </mat-panel-title>

          <mat-panel-description>
            Publicadores: {{ compet.publishers ?? 0 }} | 
            Pion. aux: {{ compet.aux_pioneers ?? 0 }} | 
            Pion. reg: {{ compet.reg_pioneers ?? 0 }} | 
            Total horas: {{ compet.amountHours }}
            <mat-icon>date_range</mat-icon>
          </mat-panel-description>

        </mat-expansion-panel-header>

        <app-report-grid calendar="{{ compet.index == step ? compet.compet : '' }}"></app-report-grid>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">{{ 'PAGINATOR.PREVIOUS_PAGE' | translate }}</button>
          <button mat-button color="primary" (click)="nextStep()">{{ 'PAGINATOR.NEXT_PAGE' | translate }}</button>
        </mat-action-row>

      </mat-expansion-panel>

    </mat-accordion>

  </div>

</div>