<div>

  <br>

  <div class="container">

    <!-- <div style="display: flex; justify-content:center; align-items:center;">

      <div fxLayoutGap="10px" fxLayoutGap.xs="2px" style="width: 50%;">

        <div fxFlex="50%" [formGroup]="formAno">
          <mat-form-field appearance="outline">
            <mat-label>{{'BUTTONS.SELECT' | translate}} {{'REPORT.YEAR' | translate}}</mat-label>
            <mat-select matInput placeholder="{{'REPORT.YEAR' | translate}}" formControlName="Ano"
              (ngModelChange)="aoMudarAno($event)">
              <mat-option value="-1">[{{'BUTTONS.SELECT' | translate}} {{'REPORT.YEAR' | translate}}]</mat-option>
              <mat-option *ngFor="let ano of anos" [value]="ano.year">
                {{ ano.year }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex="50%">
          <button button="button" mat-raised-button color="primary" (click)="gerirCalendar()"
            style="align-self:baseline; margin-left: 10px">
            <mat-icon>add</mat-icon> {{'BUTTONS.SHOW' | translate}} {{'CALENDAR.THEME' | translate}}
          </button>
        </div>

      </div>
    </div> -->

    <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="2px">

      <div fxLayout="column" fxLayoutAlign="center" [formGroup]="formAno">

        <mat-form-field appearance="outline">
          <mat-label>{{'BUTTONS.SELECT' | translate}} {{'REPORT.YEAR' | translate}}</mat-label>
          <mat-select matInput placeholder="{{'REPORT.YEAR' | translate}}" formControlName="Ano"
            (ngModelChange)="aoMudarAno($event)">
            <mat-option value="-1">[{{'BUTTONS.SELECT' | translate}} {{'REPORT.YEAR' | translate}}]</mat-option>
            <mat-option *ngFor="let ano of anos" [value]="ano.year">
              {{ ano.year }}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>

      <div fxLayout="column" fxLayoutAlign="center">

        <button button="button" mat-raised-button color="primary" (click)="gerirCalendar()"
          style="vertical-align: top">
          <mat-icon>add</mat-icon> {{'BUTTONS.SHOW' | translate}} {{'CALENDAR.THEME' | translate}}
        </button>

      </div>

    </div>

    <br>

    <app-calendar-grid *ngIf="this.mostrarCalendar" style="display: flex; justify-content:center; align-items:center;">
    </app-calendar-grid>

    <mat-accordion class="example-headers-align" *ngFor="let compet of compets">
      <br *ngIf="! (isHandset$ | async)">
      <mat-expansion-panel [expanded]="expandir && compet.index == step" (opened)="setStep(compet.index)" hideToggle>

        <mat-expansion-panel-header>

          <mat-panel-title>
            {{ compet.month | titlecase }}/{{ compet.year }}
          </mat-panel-title>

          <mat-panel-description *ngIf="isHandset$ | async">
            Horas: {{ compet.amountHours }}
            <mat-icon>date_range</mat-icon>
          </mat-panel-description>
          <mat-panel-description *ngIf="! (isHandset$ | async)">
            Publicadores: {{ compet.publishers ?? 0 }} |
            Pion. aux: {{ compet.aux_pioneers ?? 0 }} |
            Pion. reg: {{ compet.reg_pioneers ?? 0 }} |
            Total horas: {{ compet.amountHours }}
            <mat-icon>date_range</mat-icon>
          </mat-panel-description>

        </mat-expansion-panel-header>

        <app-report-grid calendar="{{ compet.index == step ? compet.compet : '' }}"></app-report-grid>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">{{ 'PAGINATOR.PREVIOUS_PAGE' | translate }}</button>
          <button mat-button color="primary" (click)="nextStep()">{{ 'PAGINATOR.NEXT_PAGE' | translate }}</button>
        </mat-action-row>

      </mat-expansion-panel>

    </mat-accordion>

  </div>

</div>