table {
    width: 100%;
    table-layout: fixed;
  }
  
  th,
  td {
    overflow: hidden;
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  td:first-child, 
  th:first-child {
    width: 33%;
    @media(max-width: 960px){
      width: 200px;
    }
  }
  
  td:last-child, 
  th:last-child {
    width: 100px;
  }