<mat-card class="card">
    <mat-card-content>

        <div style="margin-top: 10px">

            <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="2px">

                <div fxFlex="80%" fxLayout="column" fxLayoutAlign="center"> 
                
                    <mat-form-field appearance="standard">
                        <mat-label>{{ 'BUTTONS.FILTER' | translate }}</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Ex: Maria" #input>
                    </mat-form-field>
                
                </div>

                <div fxLayout="column" fxLayoutAlign="center">
                    
                    <button button="button" mat-raised-button color="primary" (click)="openContact()">
                        <mat-icon>add</mat-icon> {{'BUTTONS.ADD' | translate}} {{'PUBLISHER.CONTACT' | translate}}
                    </button>
                
                </div>

            </div>

            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'CONTACT.NAME' |
                            translate}}</th>
                        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cellPhone">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>
                            {{'PUBLISHER.CELLPHONE' | translate}}
                        </th>
                        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-sm> {{ row.areaCode + row.cellPhone | telefone }} </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">
                            {{ 'PUBLISHER.EMAIL' | translate}}</th>
                        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                    </ng-container>

                    <ng-container matColumnDef="acoes">
                        <th mat-header-cell *matHeaderCellDef>{{'BUTTONS.ACTIONS' | translate}}</th>
                        <td mat-cell *matCellDef="let row">
                            <button (click)="openContact(row.Id)" mat-icon-button color="primary">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button (click)="deleteContact(row.Id)" mat-icon-button color="warn">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4" *ngIf="input.value">Nenhum registro encontrado com o filtro: "{{input.value}}"</td>
                        <td class="mat-cell" colspan="4" *ngIf="!(input.value)">Nenhum registro cadastrado</td>
                    </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users">
                </mat-paginator>
            </div>

        </div>
    </mat-card-content>
</mat-card>
