<mat-form-field appearance="outline">
  <mat-label>{{ label }}</mat-label>
  <input matInput [formControl]="date" [matDatepicker]="picker" (dateChange)="onChange($event.value)" placeholder="Data"
    *ngIf="this.defaultLang == 'en'" appMaskDate>
  <input matInput type="date" [formControl]="date" [matDatepicker]="picker" (dateChange)="onChange($event.value)"
    placeholder="Data" *ngIf="this.defaultLang !== 'en'">
  <button matSuffix mat-button *ngIf="hoje == 'true'">
    <mat-icon (click)="preencherHoje()">short_text</mat-icon>
  </button>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>