.example-spacer {
    flex: 1 1 auto;
}

table {
    width: 100%;
    table-layout: fixed;
  }

  th, td {
    overflow: hidden;
    width:auto;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  th:first-child, td:first-child {
    width:25%;
  }

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

table{
  width: 100%;
 }
 
 .mat-column-calendar {
   word-wrap: break-word !important;
   white-space: unset !important;
   flex: 0 0 80% !important;
   width: 80% !important;
   overflow-wrap: break-word;
   word-wrap: break-word;
 
   word-break: break-word;
 
   -ms-hyphens: auto;
   -moz-hyphens: auto;
   -webkit-hyphens: auto;
   hyphens: auto;
 }

.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}