<div width="50%" style="text-align:center">
  <div>
    <br>
    <img src="assets/images/watchtower.png" width="30%" height="30%">
    <h1>Sistema de Publicadores (Publisher Control v1.2)</h1>
    <p>
      Este é um aplicativo (pwa) para cadastro de publicadores com funcionalidade de emissão do cartão de diretivas
      antecipadas e procuração para tratamento de saúde junto com relatório de campo e contatos de emergência.
    </p>
    <p>Caso tenha alguma dúvida ou sugestão, escreva para <a href="mailto:softec98@hotmail.com?subject=sugestão">softec98@hotmail.com</a></p>

    <p>Clique nesse link para acompanhar a evolução das releases no: <a routerLink="/versions">Histórico de versões</a>.</p>

    <!-- <button mat-raised-button color="accent" type="button" (click)="addToHomeScreen()">Criar atalho na tela principal</button> -->
  </div>
</div>